@font-face {
  font-family: oxidesolidot;
  src: url(../fonts/oxidesolidot.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

html, body {
  font-family: oxidesolidot;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
