.header-top {
  width: 100%;
  height: 60px;
  position: relative;
}

.header-top > * {
  height: 60px;
}

.header-top > * a {
  display: inline-block;
  text-decoration: none;
}

.header-top .header-top-left {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 0;
  font-size: 0;
}

.header-top .header-top-center {
  margin: 0 auto;
  text-align: center;
}

.header-top .header-top-center a.logo > img {
  width: 160px;
}

.header-top .header-top-right {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
}

.header-nav > ul > li {
  float: left;
  width: calc(100% /7);
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  font-size: 9px;
  padding: 4px 0;
  color: #666;
}

.header-nav > ul > li:last-child {
  border-right: none;
}
