.main {
  max-width: 932px;
  margin: 16px auto 0;
}

.main .card {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  padding: 16px;
  box-sizing: border-box;
  border-top: 3px solid #000;
  margin: 0 16px 16px 0;
}

.main .card img {
  width: 100%;
}

.main .card .topic {
  font-size: 10px;
}

.main .card .title {
  font-family: 'Futura';
  font-size: 18px;
  line-height: 1.2;
}

.main .card .author {
  font-size: 10px;
}

.main .card.right-image {
  height: 160px;
}

.main .card.right-image img {
  width: inherit;
  height: 100%;
  float: right;
}

.main .card.left-image {
  height: 160px;
}

.main .card.left-image .title {
  max-height: 86px;
  overflow: hidden;
}

.main .card.left-image .author {
  float: left;
}

.main .card.left-image img {
  width: inherit;
  max-width: 50%;
  max-height: 100%;
  float: left;
  margin-right: 10px;
  margin-bottom: 100%;
}

.main .card.no-image .title {
  font-size: 36px;
}

.main .card.bold-top {
  border-top-width: 10px;
}

.main > section.popular .popular-left {
  width: 632px;
  height: 300px;
  float: left;
}

.main > section.popular .popular-left > .row1 > .col1 {
  width: calc(100% /3*2 - 16px);
  float: left;
}

.main > section.popular .popular-left > .row1 > .col2 {
  width: calc(100% /3 - 16px);
  float: left;
}

.main > section.popular .popular-left > .row1 > .col2 img {
  width: 100%;
}

.main > section.popular .popular-left > .row2 > .col1 {
  width: calc(50% - 16px);
  float: left;
}

.main > section.popular .popular-left > .row2 > .col2 {
  width: calc(50% - 16px);
  height: 336px;
  float: left;
}

.main > section.popular .popular-left > .row3 {
  background-color: skyblue;
  height: 100px;
}

.main > section.popular .popular-right {
  width: 300px;
  float: left;
  margin: 0;
  padding: 0;
}

.main > section.popular .popular-right h2.card-ul-title {
  font-size: 24px;
  padding: 16px;
  margin: 0;
}

.main > section.popular .popular-right > ul {
  padding: 0 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main > section.popular .popular-right > ul > li {
  border-bottom: 1px solid black;
  height: 75px;
  padding: 16px 0;
}

.main > section.popular .popular-right > ul > li:last-child {
  border: none;
}

.main > section.popular .popular-right > ul img {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 16px;
}

.main > section.popular .popular-right > ul .title {
  font-size: 14px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
}

.main > section.popular .popular-right > ul .author {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}

a.more {
  padding: 16px;
  display: inline-block;
}

a.more > * {
  vertical-align: middle;
}

a.more img.arrow {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
