@font-face {
  font-family: oxidesolidot;
  src: url(../fonts/oxidesolidot.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

html, body {
  font-family: oxidesolidot;
}

.header-top {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-top .header-top-left {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.header-top .header-top-center {
  margin: 0 auto;
}

.header-top .header-top-right {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
