@font-face {
  font-family: oxidesolidot;
  src: url(../fonts/oxidesolidot.woff) format('woff');
  font-style: normal;
  font-weight: normal;
}

html, body {
  font-family: oxidesolidot;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.middle-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -0.25em;
}

.middle-child {
  vertical-align: middle;
}

.clearfix::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}
