@font-face {
  font-family: oxidesolidot;
  src: url(../fonts/oxidesolidot.woff) format('woff');
  font-style: normal;
  font-weight: normal;
}

html, body {
  font-family: oxidesolidot;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #666;
  text-decoration: none;
}
// 수직정렬을 위한 유틸리티 클래스
.middle-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -0.25em;
}

.middle-child {
  vertical-align: middle;
}

// 자식이 모두 float속성을 가진 부모를 위한 유틸리티 클래스
// 부모의 높이를 알수 없기 때문에 부모다음으로 무언가를 추가했을때 문제가 발생하는것을 방지하려고 하는 것 
.clearfix::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}
