.main {
  max-width: 932px;
  margin: 0 auto;
}

.main .card {
  // 그림자 효과
  box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  padding: 16px;
  // 내부 패딩과 보더를 포함한 가로/세로크기 포함
  box-sizing: border-box;
  border-top: 3px solid #000;

  img {
    width: 100%;
  }

  .topic {
    font-size: 10px;
  }

  .title {
    // 폰트를 다르게 지정하기 위해서
    font-family: 'Futura';
    font-size: 18px;
  }

  .author {
    font-size: 10px;
  }
}

.main > section.popular {
  .popular-left {
    width: 632px;
    height: 300px;
    float: left;

    > .row1 {
      > .col1 {
        width: 60%;
        float: left;
      }

      > .col2 {
        width: 40%;
        float: left;

        img {
          width: 100%;

        }
      }
    }

    > .row2 {
      > .col1 {
        width: 50%;
        height: 100px;
        float: left;
        background-color: yellow;

        > .row1 {
          height: 50%;
          background-color: orange;
        }

        > .row2 {
          height: 50%;
          background-color: purple;
        }
      }

      > .col2 {
        width: 50%;
        height: 100px;
        float: left;
        background-color: green;
      }
    }
  }

  .popular-right {
    width: 300px;
    height: 300px;
    background-color: red;
    float: left;


  }
}
